@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  /* Primary */
  --red-500: #ff525d;
  --red-400: hsl(355, 100%, 74%);
  --blue-900: #1f3f5b;

  /* Neutral */
  --white: hsl(0, 100%, 100%);
  --gray-600: #4b5862;
  --gray-900: rgb(37, 37, 45);

  /* Gradient - Intro / CTA / Mobile Nav */
  --orange-300: #ff8f70;
  --red-550: #ff3d54;

  /* Gradient - Body */
  --purple-950: #2c2d3f;
  --purple-900: hsl(237, 23%, 31%);
}
